{% extends "plantilla.html" %}
{% load static %}

{% block links %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}
<main id="form_container" class="container-fluid d-flex justify-content-center align-items-center flex-grow-1">
  <div id="container_form" class="py-3 d-flex justify-content-center align-items-center">
    <form method="post" id="form_login"
      class="w-100 d-flex flex-column justify-content-center align-items-center container gap-2">
      <div><img src="{% static 'icon/brand1.svg' %}" width="60" height="60" alt=""> <h4 class="fw-bold my-3">Registrate en SemillasOrganica.cl</h4></div>
      {% csrf_token %}
      {{ form }}
      <button type="submit" class="btn btn-dark mt-1 bg-black">Registrarse</button>
    </form>
  </div>
</main>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    var allLabels = document.querySelectorAll("label");
    var allInputs = document.querySelectorAll("input");
    var selects = document.querySelectorAll("select");
    var idtipo = document.getElementById("id_tipo_usuario")
    var password1 = document.querySelector(`label[for="id_password1"]`)
    var password2 = document.querySelector(`label[for="id_password2"]`)
    var username = document.querySelector(`label[for="id_username"]`)
    username.innerHTML = "Nombre de Usuario"
    password1.innerHTML = "Contraseña"
    password2.innerHTML = "Confirmar Contraseña"
    selects.forEach(function (ss) {
      ss.classList.add('form-select');
    });
    allLabels.forEach(function (label) {
      label.classList.add('form-label');
    });
    allInputs.forEach(function (input) {
      input.classList.add('form-control');
    });
    labelUser.classList.add('form-label');
    labelPassword.classList.add('form-label');
  });
</script>
{% endblock %}