#cards_container {
    display: flex;
    justify-content: center;
}

@media (min-width: 1024px) {
    #card {
        flex-grow: 1;
        max-width: 23%;
    }
}

.card {
    border-radius: 47px 0px 14px 16px;
    -moz-border-radius: 47px 0px 14px 16px;
    -webkit-border-radius: 47px 0px 14px 16px;
}

#idCard{
    font-size: small;
    
}

#cardMarca{
    font-size: smaller;

}


#cardDesc{
    font-size: small;
    text-wrap: balance;
    height: 78px;
}
